html /* entire web page */
{
    background-color: #000000;
    font: 'Times New Romans', monospace;
    display: grid;
}

.embed-container /* youtube responsive embed */
{
    position: relative; 
    padding-bottom: 50%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed /* youtube responsive embed */
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.grid 
{
  grid-template-columns: auto;
  grid-gap: 1em;
  text-align: center;
}

.grid-container 
{
    color: #ff0000 !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

a /* link */
{
    color: #ffff00;
}

article
{
    grid-column: 1 / 4;
}

b
{
    font-weight: bold;
}

header, footer 
{
  grid-column: 1 / 4;

}

h1
{
    color: #ff0000;
    letter-spacing: 5px;
}

h3
{
    color: #008000;
    width: 50%;
}

p,h4,h5,h6,li,ul
{
    color: #ffffff;
}

#greenlink
{
    color: #008000;
}


@media all and (max-width: 700px) 
{
  aside,
  article 
  {
    grid-column: 1 / 4;
  }
}

@media all and (-ms-high-contrast:none) 
{
  .grid-container 
  {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
  }

}